/****************************************
 * general purpose css-only components  *
 ****************************************/
 .navbar-brand {
  font-family: 'Six Caps', sans-serif;
  font-size: 40px; /* Ajustado para mayor visibilidad */
  margin-right: 20px; /* Añade espacio a la derecha del logo */
}

.nav-link {
  font-size: 20px; /* Tamaño adecuado para legibilidad */
  color: #FFFFFF; /* Cambia el color del texto para mayor contraste */
  transition: color 0.3s ease; /* Suaviza la transición de color */
}

.nav-link:hover, .nav-link:focus {
  color: #FFD700; /* Cambia el color al pasar el mouse o enfocar */
}

.nav-item {
  font-family: 'Archivo Narrow', sans-serif;
  margin-right: 15px; /* Añade espacio entre los elementos del navbar */
}

/* Mejora la visibilidad del botón del menú en dispositivos móviles */
.navbar-toggler {
  border-color: #FFD700; /* Cambia el color del borde del botón */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#FFD700' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"); /* Cambia el color del ícono del menú */
}

.fm-panel {
  background-color: #fff;

  border: 1px solid black;

  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;

  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;

  overflow: hidden;
}

.fm-panel > h4 {
  background-color: #E5E5E5;
  margin: -10px -10px 10px -10px;
  padding: 10px 10px 10px 10px;
}


.fm-right {
  text-align: right;
}
/* Estilos para el campo de búsqueda */
.form-control {
  font-size: 16px; /* Aumenta la legibilidad */
  padding: 10px 40px; /* Más espacio interior para un aspecto moderno y ampliado horizontalmente */
  border-radius: 20px; /* Bordes redondeados para un look moderno */
  border: none; /* Se quita el borde */
}

/* Estilos actualizados para el botón de búsqueda */
.btn-outline-success {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 14px; /* Reducido para hacer el icono de lupa más pequeño */
  color: #FFFFFF;
  background-color: transparent;
  border: none; /* Se mantiene sin borde */
  padding: 10px 20px; /* Ajuste del padding para igualar el campo de búsqueda */
  border-radius: 20px; /* Bordes redondeados para coincidir con el campo de búsqueda */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición ajustada */
}

.btn-outline-success:hover, .btn-outline-success:focus {
  color: #0a0a0a; /* Color más oscuro al pasar el mouse o enfocar */
  background-color: #FFFFFF;
}
.bg-custom {
  background-color: #FFAD73;
}



/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;

}

ul.fm-rating {
  display: inline-block;
}

.fm-rating-pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color: #000000;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  blue  0 0 10px;
}

fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}

fm-rating:hover a {
  visibility: visible;
}


.fm-deliver-to {
  display: block;
  width: 450px;
}


input.ng-invalid.ng-dirty {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
}

/****************************************
 * route specific css                   *
 ****************************************/


/* checkout */

.fm-checkout table {
  width: 960px;
  margin-left: -10px;
}

.fm-checkout table th:nth-child(2),
.fm-checkout table td:nth-child(2) {
  width: 100%;
  text-align: left;
}

.fm-checkout table td:nth-child(1) input {
  width: 30px;
}

.fm-checkout table th,
.fm-checkout table td {
  text-align: right;
}

.fm-checkout table tr:last-child th {
  text-align: right;
}

input.ng-invalid {
  border: 1px solid red;
}
