body {
    font-family: 'Archivo Narrow', sans-serif;
}

.fm-panel {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.fm-menu-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fm-menu-list li span {
    margin-right: 10px;
}

/* Ajustes para la imagen y la descripción del restaurante */
.fm-restaurant .row > div {
    display: flex;
    align-items: center;
}

.fm-restaurant img {
    max-width: 100%;
    border-radius: 5px;
}

.fm-restaurant .col-10 div {
    font-size: 16px;
}

.restaurant-description {
    margin-left: 100px;
}

/* Estilizar el contenedor de dirección, calificación y precio */
.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

/* Estilizar la calificación y el precio para que tengan un ancho completo */
.fm-rating {
    width: 100%;
}
