body {
    font-family: 'Archivo Narrow', sans-serif;
  }
  
  .fm-panel {
    background-color: rgba(255, 255, 255, 0.8); /* Hace que los cuadros de contenido sean transparentes */
    margin: 10px 0; /* Agrega margen arriba y abajo para mejorar la ubicación */
    padding: 20px; /* Agrega padding para dar más espacio al contenido */
    border-radius: 10px; /* Agrega bordes redondeados */
  }
  
  .fm-menu-list li {
    display: flex;
    justify-content: space-between; /* Distribuye el contenido de cada ítem del menú a lo largo del eje horizontal */
    margin-bottom: 10px; /* Agrega margen abajo para separar los ítems del menú */
  }
  
  .fm-menu-list li span {
    margin-right: 10px; /* Agrega margen a la derecha para separar el nombre y el precio del ítem del menú */
  }
  
  .fm-cart {
    position: sticky;
    top: 0; /* Hace que el carrito de compras se quede en la parte superior de la página al desplazarse */
  }

  .product-name {
    font-weight: bold; /* Hace que los nombres de los productos sean negrita */
  }
  
  .product-price {
    color: green; /* Hace que los precios de los productos sean verdes */
  }