/* Estilos Generales del Formulario */
body {
  font-family: 'Archivo Narrow', sans-serif;
  background-image: linear-gradient(to bottom, #FFAD73 0%, #FDFDFD 100%);
  background-size: cover;
  background-position: center;
}
.fm-panel {
  background-color: rgba(249, 249, 249, 0.9);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de la Tabla */
.table {
  background-color: #fff;
}
.table th {
  background-color: #f2f2f2;
}
.table-hover tbody tr:hover {
  background-color: #e9e9e9;
}

/* Botones */
.btn {
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #1cff07;
  color: #fff;
}

.btn-primary:hover {
  background-color: #15b306;
}

.btn-primary:disabled {
  background-color: #6c757d; /* Color oscuro para el botón deshabilitado */
  color: #fff;
}

.btn-warning {
  background-color: #ff0707;
  color: #ffffff;
}

.btn-warning:hover {
  background-color: #e00606;
}

/* Inputs y Selects */
.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-control, .btn {
  border-radius: 0.25rem;
}
.btn-primary, .btn-secondary, .btn-warning {
  font-weight: bold;
}

/* Mejoras Visuales Adicionales */
.h5, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* Aplicar fuente Narrow a los títulos */
h4, h5 {
  font-family: 'Nunito Sans', sans-serif; /* Cambia 'Nunito Sans' por 'Narrow' si esa es la fuente correcta */
}

.form-control.qty-input {
  width: auto; /* Ajustar según sea necesario, 'auto' para ajuste automático o un valor específico como '100px' */
  min-width: 80px; /* Asegura un mínimo de ancho para mostrar la cantidad */
}

/* Opcional: Ajustes para mejorar la visualización de la tabla */
.table th, .table td {
  padding: 0.5rem; /* Ajustar el relleno para dar más espacio, si es necesario */
}