body {
  font-family: 'Archivo Narrow', sans-serif;
  position: relative;
  margin: 0; /* Asegura que no haya espacio alrededor del borde del cuerpo */
  height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
  overflow: hidden; /* Evita desbordamiento si el contenido es más grande que el body */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../img/check.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Ajusta este valor para cambiar la opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}
@keyframes confetti {
    0% { transform: translateY(0) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
  }
  
  .confetti-piece {
    width: 20px;
    height: 20px;
    position: fixed;
    top: -10px;
  }
  
  /* Distribuye los confetis de manera más uniforme y con variaciones en la animación */
/* Distribuye los confetis de manera más uniforme y con variaciones en la animación */
.confetti-piece:nth-child(3n+1) {
    background-color: #ffcc00; /* Amarillo */
    animation: confetti 1.2s linear infinite;
  }
  
  .confetti-piece:nth-child(3n+2) {
    background-color: #ff4444; /* Rojo */
    animation: confetti 1.5s linear infinite 0.2s;
  }
  
  .confetti-piece:nth-child(3n) {
    background-color: #44ff44; /* Verde */
    animation: confetti 1.7s linear infinite 0.4s;
  }
  
  /* Ajusta la posición inicial de manera aleatoria para cada confeti */
  .confetti-piece:nth-child(4n+1) { left: calc(10% + 5vw); }
  .confetti-piece:nth-child(4n+2) { left: calc(30% + 5vw); }
  .confetti-piece:nth-child(4n+3) { left: calc(50% + 5vw); }
  .confetti-piece:nth-child(4n) { left: calc(70% + 5vw); }
  
  @keyframes float {
    0% { transform: translateY(100vh); }
    100% { transform: translateY(-100vh); }
  }
  
  .order-id-box {
    background-color: #ffffff; /* Color de fondo más claro */
    border: 2px solid #FFAD73; /* Borde con color moderno */
    padding: 20px; /* Mayor espaciado interno */
    display: inline-block; /* Ajuste al contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color de texto oscuro para contraste */
  }
  
  .moving-logo {
    position: fixed;
    top: 60%; /* Posición vertical ajustada */
    left: 0; /* Iniciar desde el extremo izquierdo */
    width: 50px; /* Ajustar según el tamaño real del logo */
    animation: moveLogo 90s linear infinite; /* Ajustar la duración según sea necesario */
  }
  
  @keyframes moveLogo {
    0% { left: 0; } /* Inicia en el extremo izquierdo */
    50% { left: calc(100% - 50px); } /* Mueve al extremo derecho, ajustando por el ancho del logo */
    100% { left: 0; } /* Regresa al extremo izquierdo */
  }
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
      opacity: 0;
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .hero-unit {
    animation: fadeInUp 0.8s ease-out;
  }
  .moving-logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    transition: transform 0.3s ease-in-out;
  }