<head>
  <link rel="stylesheet" type="text/css" href="../css/checkout/styles.css">
</head>
<form name="form">
  <div class="container fm-panel fm-checkout">
    <h4>Menu</h4>
    <div class="row">
      <div class="col-md-6">
        <h5>Deliver To:</h5>
        <div>{{customer.name}}</div>
        <div>{{customer.address}}</div>
        <a href="#/customer">Change</a>
      </div>
      <div class="col-md-6">
        <h5>Payment:</h5>
        <div class="form-group">
          <select name="ccType" class="form-control"
          required
          ng-model="cart.payment.type">
    <option value="visa">Visa</option>
    <option value="mc">MasterCard</option>
    <option value="discover">Discover</option>
  </select>
        </div>
        <div class="form-group">
          <input type="text" name="ccNum"
                 placeholder="Card number"
                 class="form-control"
                 maxlength="16"
                 required ng-pattern="/\d{16}/"
                 ng-model="cart.payment.number">
        </div>
        <div class="form-group">
          <input type="text" name="ccExp" placeholder="mm/yyyy" class="form-control"
                 maxlength="7"
                 required ng-pattern="/\d\d\/\d\d\d\d/"
                 ng-model="cart.payment.expire">
        </div>
        <div class="form-group">
          <input type="text" name="ccCvc" placeholder="CVC" class="form-control"
                 maxlength="4"
                 required ng-pattern="/\d{3,4}/"
                 ng-model="cart.payment.cvc">
        </div>
      </div>
    </div>
    <div>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Quantity</th>
            <th>Description</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart.items">
            <td><input type="number" ng-model="item.qty" class="form-control qty-input" min="1"></td>
            <td>{{item.name}}</td>
            <td>{{item.price | currency}}</td>
            <td>{{item.price * item.qty | currency}}</td>
            <td><a href ng-click="cart.remove(item)"><i class="fas fa-times"></i></a></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th>{{ cart.total() | currency }}</th>
            <th></th>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <a href="#/menu/{{restaurantId}}" class="btn btn-secondary">Back to Menu</a>
        <a href class="btn btn-warning" ng-click="cart.reset()">Clear Cart</a>
        <button class="btn btn-primary"
                ng-disabled="form.$invalid || !cart.items.length || submitting"
                ng-click="purchase()">Purchase</button>
      </div>
    </div>
  </div>
</form>