<head>
  <link rel="stylesheet" href="../css/help/styles.css">
</head>
<div class="container">
  <div class="fm-panel card">
    <div class="card-header">
      <h4>Help & How it Works</h4>
    </div>
    <div class="card-body">
      <h5>How it works</h5>
      <p>It's simple:</p>
      <ol>
        <li>Enter delivery address</li>
        <li>Pick a great restaurant</li>
        <li>Select yummy food</li>
        <li>Enter delivery time</li>
        <li>Enter payment details</li>
        <li>And the food will be on the way!</li>
      </ol>
      <hr>
      <div>
        <h5>Until how late do you deliver?</h5>
        <p>We deliver as late as 9pm from all restaurants.</p>

        <h5>What payment methods do you accept?</h5>
        <p>We gladly accept all major credit cards, except American Express..</p>

        <h5>I got an extra chocolate muffin with my order, what is this about?</h5>
        <p>That's just a small thank-you gift from FoodMe. Enjoy it!</p>
      </div>
    </div>
  </div>
</div>