<head>
  <link rel="stylesheet" href="../css/Menu/styles.css">
  <script src="js/menu.js"></script>
</head>
<fm-deliver-to></fm-deliver-to>
<div class="container fm-restaurant">
  <div class="row">
    <div class="col-2">
      <img src="img/restaurants/{{restaurant.id}}.png" class="rounded">
    </div>
    <div class="col-10">
      <h3>{{restaurant.name}}</h3>
      <div class="row">
        <div class="col-2">
          <div>{{restaurant.address}}</div>
          <fm-rating ng-model="$parent.restaurant.rating" readonly="true"></fm-rating>
          <fm-rating ng-model="$parent.restaurant.price" symbol="$" readonly="true"></fm-rating>
        </div>
        <div class="col-4">
          <div>{{restaurant.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8 fm-panel fm-menu-list">
    <h4>Menu</h4>
    <ul class="row">
      <li class="col-6" ng-repeat="menuItem in restaurant.menuItems">
        <a href ng-click="cart.add(menuItem, restaurant)">
          <img src="{{menuItem.image}}" class="img-fluid rounded mb-3">
          <div class="d-flex justify-content-between">
            <span class="product-name">{{menuItem.name}}</span>
            <span class="product-price">${{menuItem.price}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-4 fm-panel fm-cart">
    <h4>Your order</h4>
    <form>
      <ul class="list-unstyled">
        <li ng-repeat="item in cart.items">
          <a href ng-click="cart.remove(item)"><i class="icon-remove-sign"></i></a>
          {{item.qty}} &times; {{item.name}}
        </li>
      </ul>
      <div class="float-right" ng-show="cart.items.length">
        <a href="#/checkout" ng-disabled="!cart.items.length" class="btn btn-primary">Checkout</a>
      </div>
      <p>
        <b>Total: {{cart.total() | currency}}</b>
      </p>
    </form>
  </div>
</div>