<head>

  <link rel="stylesheet" type="text/css" href="../css/restaurants/styles.css">

</head>

<body>
  <fm-deliver-to></fm-deliver-to>

  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">What are you craving today?</h4>

            <form>

              <h5>Rating</h5>
              <fm-rating ng-model="$parent.filter.rating"></fm-rating>

              <h5>Price</h5>
              <fm-rating ng-model="$parent.filter.price" symbol="$"></fm-rating>

              <h5>Cuisine</h5>
              <div fm-checkbox-list ng-model="filter.cuisine">
                <div class="form-check" ng-repeat="(name, title) in CUISINE_OPTIONS">
                  <input class="form-check-input" type="checkbox" value="{{name}}">
                  <label class="form-check-label">
                    {{CUISINE_EMOJIS[name]}} {{CUISINE_OPTIONS[name]}}
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <ng-pluralize count="restaurants.length" when="{'0'    : 'No restaurants found. :-(',
                                         'one'  : '1 restaurant found!',
                                         'other': '{} restaurants found!'}">
              </ng-pluralize>
            </h4>
            <div class="row">
              <div class="col-md-4" ng-repeat="restaurant in restaurants">
                <div class="restaurant-card">
                  <a href="#/menu/{{restaurant.id}}">
                    <img class="rounded float-left" ng-src="img/restaurants/{{restaurant.id}}.png">
                    <div class="container">
                      <h4><b>{{restaurant.name}}</b></h4>
                      <div class="price-rating-icon">
                        <div class="price">
                          <fm-rating ng-model="$parent.restaurant.price" symbol="$" readonly="true"></fm-rating>
                        </div>
                        <div class="rating">
                          <fm-rating ng-model="$parent.restaurant.rating" readonly="true"></fm-rating>
                        </div>
                        <img class="icon" ng-src="../../img/logo.png"> <!-- Reemplaza 'img/icon.png' con la ruta al ícono que deseas usar -->
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>